#google-map{margin: 1em auto; background-color: white; border: 2px #ccc solid; width: 80%;}
#google-map::before{
    content:     "";
    padding-top: 56.25%; /* ratio 16:9*/
    display:     inline-block;
}
    
canvas{margin: 1em auto; background-color: white; border: 2px #ccc solid;display: block;}


#video_player { 
  display: table; line-height: 0;
  font-size: 0; background: #000;
  max-width: 1000px;
  margin: 0 auto;
}
#video_container { 
  position: relative;
}
#video_player div, #video_player figcaption { 
  display: table-cell;
  vertical-align: top; 
}
#video_container video { 
  position: absolute; 
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
}
#video_player figcaption { width: 25%; }
#video_player figcaption a { display: block; }
#video_player figcaption a { 
  opacity: .5;
  transition: 1s opacity; 
}
#video_player figcaption a img, figure video { 
  width: 100%; height: auto; 
}
#video_player figcaption a.currentvid, #video_player figcaption a:hover, #video_player figcaption a:focus { opacity: 1; }
@media (max-width: 700px) {
  #video_player video, #video_player figcaption { 
    display: table-row; 
  }
#video_container { padding-top: 56.25%; }
#video_player figcaption a { 
  display: inline-block; width: 33.33%; 
}
}

.stage{
	display: block;
	overflow: hidden;
}

.video0{
	width: 90%;
}
.video1{
	width: 50%;
	visibility:hidden;
}

.bubbleFrame {
  width: 35%;
  float: right;
  margin-right: 10%;
  display:     inline-block;
 -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}.bubbleFrame::before{
    content:     "";
    padding-top: 100%; /* initial ratio of 1:1*/
    display:     inline-block;
}

.ball {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  border-radius: 100%;
  position: absolute;
  overflow: hidden;
  background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%); 
  -webkit-box-shadow: 9px 9px 7px 2px rgba(0,0,0,0.4) ;
  box-shadow: 9px 9px 7px 2px rgba(0,0,0,0.4) ;
}
  .ball:before {
    content: "";
    position: absolute;
    display:     inline-block;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 2; }
  .ball:after {
    content: "";
    position: absolute;
    display:  inline-block;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    z-index: 2;
    -webkit-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg); }
  .ball.bubble {
    background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
    -webkit-animation: bubble-anim 2s ease-out infinite;
    animation: bubble-anim 2s ease-out infinite; 
	}
    .ball.bubble::before {
      -webkit-filter: blur(0);
      filter: blur(0);
      height: 80%;
      width: 40%;
      background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 52%, rgba(255, 255, 255, 0.8) 54%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
      -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
      transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); 
	}
    .ball.bubble::after {
    display:     inline-block;
      background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%);
	}
.videoBubble{
	position: absolute;
	top: -10%;
	left: -50%;
    height: 110%;
    width: auto;
    display:     inline-block;
}    
@-webkit-keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }