*{margin:0;padding:0}
body{font-family:Arial;
    font-size:14px;line-height:20px}
a{text-decoration:none;color:#000;}
a:hover{text-decoration:none}
input[type=text],input[type=password],input[type=submit],textarea{border:1px solid #ddd;padding:5px;outline:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;margin:0 0 15px;font-family: 'Oswald', sans-serif;}
h2 {font-size:25px;line-height:30px}
img{max-width:100%;height:auto;border:none}

.floatleft{float:left}
.floatright{float:right}

.wrapper{width:1020px;display:block;margin:0 auto}
.clearfix{overflow:hidden}
ul,ol{margin:0;padding:0;list-style:none;}

#selectnav1{display:none;}
/* home page style */
#header_area{background: url("http://ale143.altervista.org/images/header_bg.png") repeat-x scroll 0 0 #000;}
#content_area{background: url("http://ale143.altervista.org/images/body_top_bg.png") repeat-x scroll center top #fff;
padding-top: 25px;}
#footer_top_area{background: none repeat scroll 0 0 #171716;
margin-top: 25px;
padding: 20px 0;
border-top: 5px solid #FFD500;}
#footer_bottom_area{padding:15px 0px;background:#222;}
.header{}
.header_top{padding: 15px 0;}
.logo{}
.logo a{}
.logo a h1{color: #fff;
font-family: oswald;
font-size: 30px;
font-weight: bold;
line-height: 40px;
text-transform: uppercase;}
.logo a h1 span{color: #ffd500;}
.search{background: none repeat scroll 0 0 #2c2c2b;
border: 1px solid #595957;
padding: 5px;}
.search input[type="text"]{background: none;
border: none;
outline: 0;
color: #999;
width: 200px;}
.search input[type="submit"]{-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background: url("http://ale143.altervista.org/images/search.png") no-repeat scroll 5px 0px rgba(0, 0, 0, 0);
border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #595957;
border-image: none;
border-style: none none none solid;
border-width: medium medium medium 1px;
cursor: pointer;
height: 22px;
padding-left: 5px;
text-indent: -99999px;
width: 33px;}
.header_bottom{background: none repeat scroll 0 0 #ffd500;
min-height: 30px;
padding: 10px;}
/* dropdown menu*/
.header_bottom ul{list-style: none outside none;
margin: 0;
padding: 0;}
.header_bottom ul li{float: left;position:relative;}
.header_bottom ul li a{display: block;
font-family: oswald;
font-size: 15px;
padding: 5px 15px;}
.header_bottom ul li a:hover{background:#f5f5f5 url("http://ale143.altervista.org/images/menu_item.png") no-repeat scroll left center;
-webkit-transition: background 300ms ease-in;
-moz-transition: background 300ms ease-in;
-ms-transition: background 300ms ease-in;
-o-transition: background 300ms ease-in;
transition: background 300ms ease-in;}
/* dropdown menu 2nd level*/
#dropdown{background: url("http://ale143.altervista.org/images/down.png") no-repeat scroll right 8px rgba(0, 0, 0, 0);
padding-right: 2px;}
.header_bottom ul li ul{background: none repeat scroll 0 0 #FFD500;
left: -99999px;
position: absolute;
z-index: 1000;
transition: all .3s ease 0s;-moz-transition: all .3s ease 0s;-webkit-transition: all .3s ease 0s;-o-transition: all .3s ease 0s;-ms-transition: all .3s ease 0s;}
.header_bottom ul li:hover ul{left:0px;top:30px}
.header_bottom ul li ul li{width:200px;border-bottom:1px solid #ddd}
.header_bottom ul li ul li:last-child{border-bottom:0px;}
.header_bottom ul li ul li a{padding:10px;}
.header_bottom ul ul li a:hover{background:#f5f5f5 url("http://ale143.altervista.org/images/menu_item.png") no-repeat scroll left center;
-webkit-transition: background 300ms ease-in;
-moz-transition: background 300ms ease-in;
-ms-transition: background 300ms ease-in;
-o-transition: background 300ms ease-in;
transition: background 300ms ease-in;
padding-left:15px;
transition: all .3s ease 0s;-moz-transition: all .3s ease 0s;-webkit-transition: all .3s ease 0s;-o-transition: all .3s ease 0s;-ms-transition: all .3s ease 0s;}


.main_content_area{}
.main_content{width: 690px;
margin-right: 10px;}
.content{}
.content_title {background: url("http://ale143.altervista.org/images/latest_post_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
height: 73px;
margin-bottom: 15px;}
.content_title  h2{color: #fff;
font-size: 16px;
margin-bottom: 0;
padding: 8px;
text-transform: uppercase;}
.single_content{margin-bottom: 20px;
padding-bottom: 15px;
border-bottom: 3px solid #E7E7E7;}
.single_content:last-child{border-bottom:none;}
.post_date{background: none repeat scroll 0 0 #c3c3c3;
margin-right: 10px;
padding: 5px;}
.post_date .date{border: 1px solid #ddd;
padding: 10px;
text-align: center;}
.post_date h3{font-size: 36px;
font-weight: bold;
margin-bottom: 5px;
margin-top: 5px;text-align:center;}
.post_date p{font-size: 14px;
font-family: oswald;}
.post_detail{}
.post_detail > a{background: url("http://ale143.altervista.org/images/nav_right.png") no-repeat scroll 130px 4px #ffd500;
display: block;
font-family: oswald light;
margin-top: 10px;
padding: 5px 10px;
width: 140px;float:right;}
.post_detail > a:hover{font-family: oswald;}
.post_detail h2{font-size: 20px;
margin-bottom: 10px;}
.post_detail h2 a{}
.post-meta{margin-bottom: 25px;}
.post-meta p{}
.post-meta p span{background: none repeat scroll 0 0 #ecebeb;
color: #999;
padding: 5px 14px;}
.post-meta p span i{color: #A09E9E;}
.post_excerpt{}
.sidebar_container{background: none repeat scroll 0 0 #fff;
width: 300px;}
.newsletter{padding: 10px;
border-bottom: 3px solid #ddd;
margin-bottom: 25px;}
.newsletter form > h2,.newsletter > h2{text-transform: uppercase;
font-size: 16px ;
font-weight: bold;}
.newsletter form input[type=text]{height: 25px;
width: 250px;
margin-bottom: 15px;
box-shadow: inset 0px 0px 50px 0px #999999;
-webkit-box-shadow: inset 0px 0px 50px 0px #999999;
-moz-box-shadow: inset 0px 0px 50px 0px #999999;
-o-box-shadow: inset 0px 0px 50px 0px #999999;}
.newsletter input[type=email]{border: 1px solid #ddd;
height: 35px;
padding-left: 5px;
width: 257px;
margin-bottom:15px;
box-shadow: inset 0px 0px 50px 0px #999999;
-webkit-box-shadow: inset 0px 0px 50px 0px #999999;
-moz-box-shadow: inset 0px 0px 50px 0px #999999;
-o-box-shadow: inset 0px 0px 50px 0px #999999;}
.newsletter form input[type=submit]{
background: url("http://ale143.altervista.org/images/nav_right.png") no-repeat scroll 90px 6px #ffd500;
border: medium none;
font-family: oswald light;
font-size: 14px;
padding: 8px;
text-transform: uppercase;
width: 120px;cursor:pointer;}
.sidebar{}
.single_sidebar > h2{}
.single_sidebar{background: url("http://ale143.altervista.org/images/slider_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);padding: 10px;margin-bottom:25px;}
.sidebar_title{background: url("http://ale143.altervista.org/images/title_down.png") no-repeat scroll 12px 45px rgba(0, 0, 0, 0);
height: 73px;margin-bottom:15px;}
.sidebar_title > h2{background: none repeat scroll 0 0 #222222;
color: #fff;
font-size: 16px;
margin-left: -10px;
margin-top: -10px;
padding: 8px 10px;
text-transform: uppercase;
width: 100%;}

/*popular post*/
.single_sidebar .popular_post ul{}
.single_sidebar .popular_post ul li{}
.single_sidebar .popular_post ul li a{display: block;
background: #fff;
padding: 10px;
margin-bottom: 10px;
font-size: 16px;
font-family: oswald;
box-shadow: 1px 4px 3px -2px #DDDDDD;
-webkit-box-shadow: 1px 4px 3px -2px #DDDDDD;
-moz-box-shadow: 1px 4px 3px -2px #DDDDDD;
-o-box-shadow: 1px 4px 3px -2px #DDDDDD;}
.single_sidebar .popular_post ul li a:hover{background:#FFD500;
-webkit-transition: background 300ms ease-in;
-moz-transition: background 300ms ease-in;
-ms-transition: background 300ms ease-in;
-o-transition: background 300ms ease-in;
transition: background 300ms ease-in;}

/*default sidebar list item*/
.single_sidebar > ul{}
.single_sidebar > ul li{margin-bottom: 10px;
padding: 5px;
background: #fff;}
.single_sidebar > ul li a{}
.single_sidebar > ul li a:hover{text-decoration:underline;}
.footer_top{}
.footer_top_container{margin-left: -20px;}
.single_footer_top{color: #999;
margin-left: 20px;
width: 326px;}
.single_footer_top h2{color:#FFD500;}
.single_footer_top a{color:#ddd;}
.single_footer_top ul{}
.single_footer_top ul li{}
.single_footer_top ul li a{background: none repeat scroll 0 0 #000;
color: #ddd;
display: block;
margin-bottom: 5px;
padding: 8px;font-family:oswald light;}
.single_footer_top ul li a:hover{background:#FFD500;color:#000;}
.footer_bottom{}
.copyright{font-family: oswald;
margin-top: 8px;}
.copyright p{color:#fff;}


/* Single page style */
.content h2,.content h3,.content h4,.content h5,.content h6{font-size: 16px;}