/* CSS Document */
textarea {
    resize: none;
}
#container
{
width:360px;
}
#tabbox
{
height:40px;
}
#panel
{
background-color:#FFF;
padding-bottom: 100px;
}
.nxt_bt{
	float: right;
	width: 80px;
	margin-top: 20px;
}
.credit_div{
	padding-left:20px;	
}
.cancel_bt{
	float:left;
	width: 80px;
	margin-top: 20px;
}
.log_span{
	display: block;
	margin: 20px;
}
.log_area{
	width:270px;
}
.log_input{
	width:150px;
	float: right;
}
.tab
{
background: #dedede;
display: block;
height: 40px;
line-height: 40px;
text-align: center;
width: 90px;
float: right;
font-weight: bold;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius: 4px 4px 0px 0px;
}
a
{
color: #000;
margin: 0;
padding: 0;
text-decoration: none;
}
.signup
{
}
.select
{
background-color:#FFF;
}

#signupbox
{
min-height:200px;
padding:10px;
}
#personalbox
{
min-height:200px;
padding:10px;
display:none;
}
#paymentbox
{
min-height:200px;
padding:10px;
display:none;
}
#confirmbox
{
min-height:200px;
padding:10px;
display:none;
}



/*		Mobile Layout: 320px. */

@media only screen and (max-width: 479px) {
	
	.wrapper {
		width: 252px;
		/*padding: 48px 34px 60px;*/
	}
	.logo{display: block;}
	.logo{width:80px;height:80px;}
	.logo a{display:block !important;}
	.user{padding-right:5px;}
	.user a{display: block;}
	.header_left{display:block;}
}



/*		Wide Mobile Layout: 480px.  */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.wrapper {
		width: 436px;
	}

	.logo{display: block;}
	.logo{width:80px;height:80px;}
	.logo a{display:block;}
	.user{padding-right:5px;}
	.user a{display: block;}
	.header_left{display:block;}
}

