.floatleft{float:left}
.floatright{float:right}

.clearfix{overflow:hidden}

#header_area{background: url("../images/header_bg.png") repeat-x scroll center top #006838;}
.header{}
.header_top{padding: 15px 0;}
.header_left{padding: 15px 15px}
.logo{}
.logo img{width: 80px;
		  height: 80px;
		  vertical-align:middle;}
.logo a{vertical-align: middle;}
.logo a{color: #fff;
font-family: oswald;
font-size: 30px;
font-weight: bold;
line-height: 40px;
text-transform: uppercase;}
.logo a span{
	color: #E85858;
}
.header_right{/*background: none repeat scroll 0 0 #ffd500;*/
padding: 15px 15px;
/*min-height: 22px;
padding: 10px;*/}
.header_buttons{height:80px;line-height: 80px;}
.header_buttons img{width: 50px; height: 50px;vertical-align:middle;}
.user{}
.user img{width: 80px; height: 80px; vertical-align:middle;}
.user a{vertical-align:middle; color: #FFF; padding:0 16px 0 0; 
	font-family: oswald;
	font-size: 18px;
	font-weight: bold;}