

/*		Tablet Layout: 768px.  */

@media only screen and (min-width: 768px) and (max-width: 1022px) {
	.wrapper {
		width: 712px;
	}
.header_bottom ul li a {
  font-size: 10px;
  padding: 5px 13px;
}
.main_content {
  margin-right: 0px;
  width: 100%;
  /*float:none !important;*/
}
.sidebar_container {
  /*float: none;
  margin: 25px auto 0px;*/
}
.footer_top_container {
  margin-left: -10px;
}
.single_footer_top {
  margin-left: 10px;
  width: 230px;
}
}



/*		Mobile Layout: 320px. */

@media only screen and (max-width: 479px) {
	
	.wrapper {
		width: 252px;
		/*padding: 48px 34px 60px;*/
	}
	.header_left{display:none;}
	/*#selectnav1{display:block;height: 30px;width: 232px;}
	#nav{display:none;}	*/
	.logo{display:none;}
	.logo{width:80px;height:80px;}
	.logo a{display:none;}
	.user{padding-right:5px;}
	.user a{display: none;}
}



/*		Wide Mobile Layout: 480px.  */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.wrapper {
		width: 436px;
	}

	.logo{display: block;}
	.logo{width:80px;height:80px;}
	.logo a{display:none;}
	.user{padding-right:5px;}
	.user a{display: none;}

}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	body {
	
	}
	
}